.main {
  background-color: #070707;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  z-index: 2000;
}

.marvel-logo {
  margin-top: 10px;
  height: 90px;
  width: 200px;
}

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.container {
  z-index: 2000;
  width: 90%;
}
