.title {
  color: white;
  font-family: Oswald;
}
.title p:first-child {
  font-size: 24px;
  font-weight: 700;
}
.title p:last-child {
  font-size: 20px;
}

input {
  width: 300px;
}

span {
  color: white;
}
