.detail {
  display: flex;
  margin-top: 20px;
}
.description {
  padding-left: 40px;
}
.description span {
  font-family: "Oswald";
  font-size: 64px;
  text-transform: uppercase;
}

.description p {
  font-family: "Open Sans";
  font-size: 14px;
  color: white;
}

.series-list {
  margin-top: 40px;
  font-family: "Oswald";
  font-size: 24px;
}

.series-list li {
  margin: 10px 0;
  font-family: "Oswald";
  font-size: 18px;
}

.go-back {
  cursor: pointer;
  font-size: 18px;
  font-family: "Open Sans";
  margin-bottom: 50px;
}
